@mixin min-width($threshold) {
  @media screen and (min-width: $threshold) {
    @content;
  }
}

@mixin indent($stops: 1) {
  $value: $tabstop * $stops;
  margin-left: 1em * $value;
  margin-right: 1em * $value;
}

@mixin text-level($level: 0) {
  $space-multiplier: round($level / 2.5);
  $fontsize: 1em * pow($typography-scale, $level);
  font-size: $fontsize;
  line-height: v-rhythm() * $space-multiplier;
}
