{% render '@page-title', {text: title} %}
{% render '@page-subtitle', {text: subtitle} %}
{% for section in sections %}
  {% if section.title %}
    {% render '@section-title', {text: section.title} %}
  {% endif %}
  {% if section.subtitle %}
    {% render '@section-subtitle', {text: section.subtitle} %}
  {% endif %}
  {% if section.blockquote %}
    {% render '@blockquote', {text: section.blockquote} %}
  {% endif %}
  {% for par in section.pars %}
    {% render '@body-text', {text: par} %}
  {% endfor %}
{% endfor %}
