{% if title %}
  {%- render '@heading--page-title', {content: title}, merge=true -%}
{% endif %}

{% if subtitle %}
  {%- render '@heading--page-subtitle', {content: subtitle}, merge=true -%}
{% endif %}

{% for section in sections %}
  <section>
  {% for item in section.section %}
    {%- render '@'+item.type, {content: item.value}, merge=true -%}
  {% endfor %}
  </section>
{% endfor %}